@charset "UTF-8";

/* -------------------------------

Reset CSS

----------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
}
nav ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
input, select {
    vertical-align: middle;
}

/* clearfix */

.clearfix:after {
  content: ".";  /* 新しいコンテンツ */
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; /* 非表示に */
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}

.clearFix:after {
  content: ".";  /* 新しいコンテンツ */
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; /* 非表示に */
}

.clearFix {
  min-height: 1px;
}

* html .clearFix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}

html {
  font-size: 62.5%; /* 10px */
}

a {
    color: #1a1a1a;
    text-decoration: none;
}

a:hover {
    color: #4d4d4d;
    text-decoration: none;
}

a:visited {
    color: #1a1a1a;
    text-decoration: none;
}

a:active {
    color: #1a1a1a;
    text-decoration: none;
}

ul,ol {
    list-style: none;
}
/* reset css end */

body {
    font-size: 14px;  
    color: #fff;
}


.hover:hover {
    opacity: .7;
    -webkit-opacity: .7;
    -moz-opacity: .7;
    filter: alpha(opacity=70);  /* IE lt 8 */
    -ms-filter: “alpha(opacity=70)”; /* IE 8 */
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.hover {
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

#wave {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container-fluid {
    max-width: 800px;
    width: 90%;
    margin-top: 200px;
    margin-bottom: 10px;
    padding: 20px 20px 0px 20px ;
    z-index: 1;
    color: #000;
    background-color: rgba(200,200,200,0.2);
}

.profile .row {
    width: 100%;
    margin: 0px auto 20px auto;
    text-align: center;
}

.profile .row-xs {
        width: 80%;
        text-align: left;
} 

.name {
    font-size: 25px;
}

.works .work {
    text-align: center;
    margin: 0px auto 20px auto;
}

.works .work a {
    
}

.works .work a img {
    width: 100%;
    display: block;
}

.works .work a p {
    width: 100%;
    padding-top: 20px;
    margin: auto;
    display: block;
}

footer {
    text-align: center;
    margin: 0 auto 10px auto;
    color: #000;
}
@media(max-width:767px) {
    
    .container-fluid {
        padding: 20px 0 0 0;   
    }
    .profile .row-xs {
        width: 80%;
        text-align: center;
    } 

    .row-xs h2 {
        margin: 0 auto 10px auto;
    }
}